header {
	width: 100%;
	border-bottom-style: ridge;
}

h1 {
	font-family:"Times New Roman";
	color: #ffffff;
	padding-top: 10px;
	padding-left: 10%;
	margin: 0 auto;
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4aaaa5;
}

li {
	float: right;

}


li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

body {
	background-color: #dddddd;
	margin: 0 auto;
	font-family: 'Nothing You Could Do';
	color: #777777;
	font-size: 18px;
	line-height: 150%;
	padding-bottom: 4px;
}


.container {
	width: 960px;
	margin: 0 auto;
	border: 5px grey;
	padding-bottom: 4px;
	padding-top: 15px;

}


h2 {
	color: #4aaaa5;
	margin: 0 auto;
	padding-top: 20px;
	padding-left: 15px;
	border-bottom-style: inset;

}

img {
	float: left;
	margin: 0 auto;
	padding-right: 12px;
	height: 150px;
}

#About-me {
	background-color: #ffffff;
	width: 650px;
	padding: 4px;
	padding-bottom: 3px;
	float: left;
	outline-width: thin;
	outline-color: grey;
	border: 1px solid #777;
}

.panel-body {
	padding-left: 9px;
	
}
.Connect-with-me {
	text-align: center;
	background-color: #ffffff;
	width: 270px;
	padding: 4px;
	padding-top: 4px;
	padding-bottom: 5px;
	float: right;
	outline-width: thin;
	outline-color: grey;
	border: 1px solid #777;
}
h3 {
	color: #4aaaa5;
	float: right;
	width: 260px;
	height: 30px;
	margin: 0 auto;
	padding-top: 20px;
	padding-left: 20px;
	padding: 4px;
	border-bottom-style: inset;
}

.gallery1 {
    margin: 0 4.5%;
    border: 5px solid #ccc;
    float: right;
    width: 40%;
}

.gallery2 {
    margin: 0 4.5%;
    border: 5px solid #ccc;
    float: right;
    width: 40%;
}
.gallery3 {
    margin: 0 4.5%;
    border: 5px solid #ccc;
    float: right;
    width: 40%;
}
footer {
	clear: both;
	position: fixed;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #666666;
	padding-top: 20px;
	padding-bottom: 20px;
	bottom: 0;
	border-top-style: inset;
	text-align: center;

}

